.mine{
    background-image: url("images/background.png");
    background-size: cover;
    background-attachment: fixed;
    height:768px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    
}
.mine p{
    letter-spacing: 6px;
    text-align: center;
    font-family: red-lip;
    font-weight: bold;
    font-size: 3em;
    color: white;
    
}
#click{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
a{
    background-color: yellow;
}
@font-face{
    src: url("BigelowRules-Regular.ttf");
    font-family: red-lip

}
h1{
    letter-spacing: 6px;
    text-align: center;
    font-family: red-lip;
    font-weight: bold;
    font-size: 9em;
    color: white;
    

}
#test h2{
    color:white;
    font-size:90px
}
/* @media screen and (max-width: 481px){

  
  } */
html{
    scroll-behavior: smooth;
}

#p{
    display: none;
}
h2{
    font-family: serif;
    font-size: 60px;
    text-align: center;
    color: black;
}
.but{
    position: sticky;
}
.row{
    padding: 12px;
}
.jumbotron{
    background-color: rgba(245, 173, 17, 0.89);
    padding: 12px 12px;
}
.jumbotron h2{
    font-family: red-lip;
    font-size: 80px
}
div#select.row{
    margin: 0 0 0 0;
}
.responsive{
    width: 100%;
    height: auto;
}
#para{
    display: none;
    margin: 12px;
    text-align: center;
}
.cancel{
    display: none;
}
.size1{
    display: none;
}
.checkout{
    display: none;
}
.checkout h3{
    font-family: red-lip;
    text-align: center;
    font-size: 60px;
    color:black;
}
#click2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: none;
}
.out{
    font-family: red-lip;
    text-align: center;
    font-size: 60px;
    color:black;
    display: none;
}