.mine{
    background-image: url("images/background.png");
    background-size: cover;
    background-attachment: fixed;
    height:637px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    
}
#click{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
 
}
a{
    background-color: yellow;
}
@font-face{
    src: url("BigelowRules-Regular.ttf");
    font-family: red-lip

}
h1{
    letter-spacing: 6px;
    text-align: center;
    font-family: red-lip;
    font-weight: bold;
    font-size: 9em;
    color: white;
    

}
/* @media screen and (max-width: 481px){

  
  } */
html{
    scroll-behavior: smooth;
}
.img{
    size: 60px;
}
#p{
    display: none;
}
h2{
    font-family: red-lip;
    font-size: 60px;
    text-align: center;
    color: black;
}